/*Css reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgba(201, 201, 201, 0.726);
}

/*Header*/
.main-header {
    background-color: white;
    margin: 0px 0px 20px 0px;
}
.logo {    
    vertical-align: middle;
    padding: 5px;
}
.intestazione{
    vertical-align: middle;
    font-weight: bold;
    font-size: 35px;    
}

/*main-contenitor-button*/
.contenitor-button{
    width: 60%;
    margin: 0 auto;
    background-color: white;
    padding: 15px 25px;
}

.button-task {
    background-color: blue;
    padding: 5px 10px;
    border-radius: 10%;
    color: white; 
}
.button-section {
    background-color: white;
    padding: 5px 10px;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 10%;
    color: rgb(124, 124, 124);
    margin: 0 2px;   
}

/*main-contenitor-body*/
.contenitor-body{
    width: 60%;
    margin: 1px auto;
    background-color: white;
    padding: 10px 25px 0px;
}
.check{
    border: 1px solid green;
    border-radius: 50%;
    color: green;
    font-size: 10px;
}
.cross{
    border: 1px solid red;
    border-radius: 50%;
    color: red;
    font-size: 10px;
}

/*color-tag*/
.tag-blu {
    background-color: blue;
}
.tag-viola {
    background-color: rgb(121, 30, 121);
}
.tag-verde {
    background-color: rgb(46, 143, 94);
}
.tag-arancione {
    background-color: orange;
}
.tag-fucsia {
    background-color: fuchsia;
}
.tag-verdechiaro {
    background-color: rgb(99, 252, 99);
}