/*Css reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(231, 227, 227);
    font-family: Arial, Helvetica, sans-serif;
}

/* Generics */

h3{
    height: 45px;
    line-height: 45px;
    vertical-align: middle;

}

 

/*Header*/
.main-header {
    height: 70px;
    background-color: white;
    margin-bottom: 25px;
    line-height: 70px;
    padding-left: 20px;

}
.logo {   
    height: 50px;
    vertical-align: middle;
    
}
.intestazione{    
    font-size: 38px;
    font-weight: 900;
    display: inline;
    vertical-align: middle;    
}



/* contenitor button */
.contenitor-button{
    border-radius: 5px 5px 0 0;
    width: 60%;
    margin: 0 auto;
    background-color: white;
    padding: 15px 25px;
}


/* contenitor body*/
.contenitor-body{
    width: 60%;
    margin: 1px auto;
    background-color: white;
    padding: 10px 25px 0px;
    border-radius: 0 0 5px 5px;
}


/* Button */
.button{
    border-radius: 10%;
    padding: 5px 10px;
    border: 1px solid transparent;
    font-size: 14px;
}
 
.button.btn-task {
    background-color: blue;
    color: white;
    border-color: currentColor;

}
.button.btn-section {
    background-color: white;    
    color: rgb(124, 124, 124);
    border-color: currentColor;
       
}
                    



ul {
    list-style-type: none;
}

.task-item {
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
}
 

.task-status{
    width: 15px;
    height: 15px;
    border: 1px solid currentColor;
    border-radius: 50%;    
    font-size: 12px;
    display: inline-block;
    line-height: 15px;
    vertical-align: middle;
    text-align: center;    
}
.task-status.check {
    color: green;
}
.task-status.cross {
    color: red;
}
.task-text {
    vertical-align: middle;

}

/*fino a qui ci siamo*/



.tag{    
    color: white;
    font-size: 10px;
    border-radius: 30%;
    padding: 5px 10px;
    line-height: 15px;
    vertical-align: middle;
}    

/*color-tag*/
.tag-blu {
    background-color: #45abea;
}
.tag-viola {
    background-color: #9c72e4;
}
.tag-verde {
    background-color: #64cda9;
}
.tag-arancione {
    background-color: #f29e33;
}
.tag-fucsia {
    background-color: #d863a1;
}
.tag-verdechiaro {
    background-color: #b0c926;
}

